ion-accordion {
  position: relative;
  z-index: 1000;
  ion-list {
    background-color: var(--ion-color-dark-tint);
  }

  ion-item {
    color: var(--ion-color-light);
  }
}

.router-link-active {
  color: var(--ion-color-light-shade);
}


.hidden {
  visibility: hidden;
}
