
<ng-container
  *ngIf="isHandset$ | async; then mobileMenu; else desktopMenu">
</ng-container>

<!-- Web Desktop Menu -->
<ng-template #desktopMenu>
  <ion-toolbar color="medium">

    <ion-title>SIMPS</ion-title>
    <ion-buttons slot="end">
      <ion-button  color="light" fill="clear"
        [routerLink]="['','utils','kalender']" routerLinkActive="router-link-active" >
        <ion-icon name="calendar-outline"></ion-icon>
        <ng-container *ngIf="(todayEventsCount$ | async) as todayEventsCount">
          <ion-badge *ngIf="todayEventsCount > 0" id="notifications-badge" color="danger">
          {{ todayEventsCount }}
        </ion-badge>
        </ng-container>
      </ion-button>

      <ion-button  color="light" fill="clear"
        routerLink="user" routerLinkActive="router-link-active">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="dark">
    <ion-grid fixed="true">
        <ion-col *ngFor="let menu of menuOption" 
          size="30" offset="1"> 
          <ion-button fill="clear"
                      class="ion-text-uppercase"
                      [routerLink]="[menu.url]" routerLinkActive="router-link-active" >
            {{ menu.name }} 
          </ion-button>
        </ion-col>
    </ion-grid>
  </ion-toolbar>
  <ion-progress-bar 
    *ngIf="loading$ | async"
    color="secondary" type="indeterminate"></ion-progress-bar>

</ng-template>

<!-- Mobile Menu -->
<ng-template #mobileMenu>
  <ion-toolbar color="dark" transulucent="true">
    <ion-back-button
      [class]="(isHome()) ? 'hidden' : ''"
      slot="start"
      color="light"
      defaultHref="/"
      icon="home-outline"
      text=""></ion-back-button>
  
    <ion-title class="ion-text-center">SIMPS</ion-title>

    <ion-buttons slot="end">
      <ion-button  color="light" fill="clear"
        [routerLink]="['','utils','kalender']" routerLinkActive="router-link-active">
        <ion-icon name="calendar-outline"></ion-icon>
        <ng-container *ngIf="(todayEventsCount$ | async) as todayEventsCount">
          <ion-badge *ngIf="todayEventsCount > 0" id="notifications-badge" color="danger">
          {{ todayEventsCount }}
        </ion-badge>
        </ng-container>
      </ion-button>

      <ion-button  color="light" fill="clear"
        routerLink="user" routerLinkActive="router-link-active">
        <ion-icon  name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-accordion-group>
     <ion-accordion toggleIcon="menu" toggleIconSlot="start">
      <ion-item slot="header" color="medium">
        <ion-label>Menu</ion-label>
      </ion-item>
      <ion-list slot="content" lines="none">
        <ion-item *ngFor="let menu of menuOption" color="light-shade"
          [routerLink]="[menu.url]" routerLinkActive="router-link-active"
          class="ion-text-capitalize">
          {{ menu.name }}
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ng-template>
