
<ion-toolbar mat-dialog-title mode="md" class="ion-no-padding">
  <ion-back-button slot="end" defaultHref="/kelola"
    mat-dialog-close icon="close"></ion-back-button>
  <ion-title>Pasangan Detail Form</ion-title>
</ion-toolbar>
<ion-content mat-dialog-content
  class="md-dialog-container ion-padding">


  <div class="form-container">
    <ion-avatar class="mat-elevation-z8 profile-img"
>
      <ion-img [src]="pasanganFormDetail?.controls['avatar'].value"></ion-img>
    </ion-avatar>
    <br>

    <section 
      class="mat-typography ion-text-center
      ion-text-capitalize sub-info">
      <h1>{{pasanganFormDetail.controls['special_name'].value || pasangan.special_name}}</h1>
      <h3>Status: {{ statusPasangan }}</h3>
      <h3>Kencan Terakhir: {{ pasangan.kencan_terakhir }}</h3>
    </section>

    <form [formGroup]="pasanganFormDetail" novalidate>
      <ion-item>
        <ion-label position="floating">First Name*</ion-label>
        <ion-input formControlName="first_name"
          placeholder="contoh. Mia"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Last Name*</ion-label>
        <ion-input formControlName="last_name"
          placeholder="contoh. Khalifa"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Special Name</ion-label>
        <ion-input formControlName="special_name" placeholder="contoh. Bebeb"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Ulang Tahun</ion-label>
        <ion-input formControlName="ulang_tahun"
          placeholder="contoh. 1997-02-19 (yyyy-MM-dd)"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Tanggal Jadian</ion-label>
        <ion-input formControlName="tanggal_jadian"
          placeholder="contoh. 2016-02-14 (yyyy-MM-dd)"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Avatar URL</ion-label>
        <ion-input formControlName="avatar"></ion-input>
      </ion-item>
      <br>

      <mat-form-field appearance="fill"
        class="full-width">
        <mat-label>Status Pasangan</mat-label>
        <mat-select [compareWith]="compareFn"
          formControlName="status_pasangan_id">
          <mat-option value="1">Pacar</mat-option>
          <mat-option value="0">Mantan</mat-option>
          <mat-option value="2">Selingkuhan</mat-option>
        </mat-select>
      </mat-form-field>

      
      <ion-row class="ion-justify-content-evenly">
        <ion-col sizeMd="2">
          <ion-button (click)="hapusDataPasangan()"
            color="danger" expand="block">
            <ion-icon name="trash-outline"
              *ngIf="(isHandset$ | async)"            
            ></ion-icon>
            {{(isHandset$ | async) ? '' : 'Hapus'}}
          </ion-button>
        </ion-col>

        <ion-col sizeMd="2">
          <ion-button (click)="ubahDataPasangan()"
            color="secondary" expand="block" 
            [disabled]="!pasanganFormDetail.valid">
            <ion-icon name="create-outline"
              *ngIf="(isHandset$ | async)"></ion-icon>
            {{(isHandset$ | async) ? '' : 'Simpan'}}
          </ion-button>
        </ion-col>

        <ion-col offsetMd="3">
          <ion-button expand="block" 
            (click)="openKencanCreatePage()">
            Kencan
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>
