.grid-container {
  margin: 20px;
}

.dashboard-card {
  flex-direction: column;
  position: absolute;
  height: 100%;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  height: 100%;
  overflow: hidden;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(206,179,213,1) 41%, rgba(148,187,233,1) 100%);
}

