$large: 1500px;
$medium: 960px;
$small: 480px;
$extra-small: 360px;

cite {
  font-stretch: condensed;
  font-style: normal;
  font-weight: bold;
}

ion-item.password-field {
  ion-button {
    --color: var(--ion-color-light-shade);
  }
}

.loading-wrapper {
  min-width: 100%;
  min-height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  min-height: 100%;
  @media screen and (max-width: $large) {  
    margin-inline: auto;
    max-width: 70%;    
    min-width: 0;
  }
  @media screen and (max-width: $medium) {
    max-width: 100%;    
    min-width: 0;
  }

  @media screen and (max-width: $extra-small) {
    min-width: 100%;    
  }


  margin-inline: auto;
  max-width: 60%;    
  min-width: 0;
}

div.user-avatar {
  position: relative;
  margin-inline: auto;
  width: fit-content;

  ion-button {
    position: relative;
    right: -45px;
    bottom: 20px;
  }
}

.m-inline {
  margin-inline: auto;
}

.d-flex {
  display: flex;
}

.user-avatar-dialog {
  overflow-x: hidden;
  min-height: 200px;

  ion-item {
    width: 480px;
  }

  @media screen and (max-width: $large) {
    ion-item {
      width: 480px;
    }
  }

  @media screen and (max-width: $medium) {
    ion-item {
      width: 480px;
    }
  }


  @media screen and (max-width: $small) {
    ion-item {
      width: 200px;
    }
  }

  @media screen and (max-width: $extra-small) {  
    ion-item {
      width: auto;
    }
  }    
}

.dialog-action-button {
  display: flex-end;
}
