<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/kelola"
      slot="start"
      icon="chevron-back-outline"
      text="Kembali"></ion-back-button>
    <h5 slot="end" class="ion-margin-horizontal">Pasangan ID {{selectedPasanganId}}</h5>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="container mat-elevation-z8 container">
    <form [formGroup]="createKencanForm">
      <mat-stepper 
        [orientation]="(stepperOrientation$ | async)!" 
        class="MatTypography"
        linear="false"
        >
          <mat-step state="pasangan" [stepControl]="createKencanForm.controls['pasangan_id']" 
            errorMessage="Field wajib diisi !">

              <ng-template matStepLabel>Pasangan</ng-template>
              <ng-template matStepperIcon="pasangan">
                <mat-icon>favorite</mat-icon>
              </ng-template>

              <ng-template matStepContent>
                <ion-title>Pasangan Kencan</ion-title>

                <ion-grid>
                  <ion-row>
                    <ion-col sizeLg="6" sizeMd="8">
                      <ion-item lines="none">
                        <ion-avatar slot="start">
                          <ion-img [src]="(selectedPasangan$ | async)?.avatar"></ion-img>
                        </ion-avatar>
                        <ion-label class="ion-no-padding ion-no-margin" >
                          <h2>{{(selectedPasangan$ | async)?.special_name}}</h2>
                          <h4>Terakhir Kencan : {{(selectedPasangan$ | async)?.kencan_terakhir}}</h4>
                        </ion-label>
                      </ion-item>
                      
                      <ion-item>
                        <ion-label position="floating">Pasangan</ion-label>
                        <ion-select [compareWith]="compareFn"
                          (ionChange)="gantiPasanganKencan()"
                          formControlName="pasangan_id">
                          <ion-select-option 
                            *ngFor="let opsi of (dataPasangan$ | async)"
                            [value]="opsi.pasangan_id">
                            {{ opsi.first_name + ' ' + opsi.last_name }}
                          </ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                </ion-grid>


                <button type="button" mat-button matStepperNext>Next</button>
              </ng-template>

                
          </mat-step>

          <mat-step state="tanggal" [stepControl]="createKencanForm.controls['tanggal']"
            errorMessage="Tanggal dan jam kencan diperlukan !">
            <ng-template matStepLabel>Tanggal dan Jam</ng-template>
            <ng-template matStepperIcon="tanggal">
              <mat-icon>calendar_today</mat-icon>
            </ng-template>
            <ng-template matStepContent>

              <ion-title>Waktu Kencan</ion-title>
              <ion-datetime #kencanDate
                presentation="time-date"
                [min]="minDate"
                hourCycle="h23"
                (ionChange)="gantiWaktuKencan(kencanDate.value)"
                showDefaultButtons="false">

              </ion-datetime>


              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </ng-template>
          </mat-step>

          <mat-step state="tempat" [stepControl]="createKencanForm.controls['tempat']">
            <ng-template matStepLabel>Tempat</ng-template>
            <ng-template matStepperIcon="tempat">
              <mat-icon>location_on</mat-icon>
            </ng-template>

            <ng-template matStepContent>

              <ion-row>
                <ion-col sizeMd="6" sizeXs="10"
                  >
                  <ion-item>
                    <ion-label position="floating">Lokasi</ion-label>
                      <ion-textarea #tempatKencanInput
                        formControlName="tempat"
                        autofocus="true"
                        autoGrow="true"
                          ></ion-textarea>

                  </ion-item>
                </ion-col>
              </ion-row>


              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </ng-template>
          </mat-step>

          <mat-step state="biaya"  [stepControl]="createKencanForm.controls['biaya']">
            <ng-template matStepLabel>Biaya</ng-template>
            <ng-template matStepperIcon="biaya">
              <mat-icon>payment</mat-icon>
            </ng-template>

            <ng-template matStepContent>

              <ion-title>Alokasi Biaya</ion-title>
              <ion-row>
                <ion-item class="biaya">
                  <ion-label position="fixed">Rp. </ion-label>
                  <ion-input
                    formControlName="biaya"
                    placeholder="cth. Rp. 50000"
                    >
                  </ion-input>

                </ion-item>
              </ion-row>

              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </ng-template>


          </mat-step>


          <mat-step state="overview" [stepControl]="createKencanForm.controls['status_kencan_id']">
            <ng-template matStepLabel>Overview</ng-template>
            <ng-template matStepperIcon="overview">
              <mat-icon>insert_chart</mat-icon>
            </ng-template>

            <ng-template matStepContent>

              <ion-title>Overview</ion-title>
              <ion-grid>
                <ion-row class="ion-justify-content-center d-flex">
                    <ion-col>
                      <ion-item lines="none"
                        class="ion-no-padding ion-no-margin">
                        <ion-avatar slot="start">
                          <ion-img 
                            [src]="(selectedPasangan$ | async)?.avatar"></ion-img>
                        </ion-avatar>
                        <ion-label>
                          <h1>
                            {{ (selectedPasangan$ | async)?.special_name }}
                            <ion-badge >
                              {{ (selectedPasangan$ | async)?.status_pasangan}}
                            </ion-badge>
                          </h1>
                          <h2> 
                            {{ (selectedPasangan$ | async)?.first_name }} 
                            {{ (selectedPasangan$ | async)?.last_name  }} 
                          </h2>
                          <h4>Terakhir Kencan: {{ (selectedPasangan$ | async)?.kencan_terakhir }} </h4>
                        </ion-label>
                      </ion-item>

                      <ion-item>
                        <ion-icon name="calendar-clear-outline" slot="start"></ion-icon>
                        <ion-text [color]="(createKencanForm.controls['jam'].valid) ? 'dark' : 'danger'">
                          {{ createKencanForm.controls['tanggal'].value || 'Tanggal kencan belum diatur !' }}
                        </ion-text>
                      </ion-item>

                      <ion-item>
                        <ion-icon name="time-outline" slot="start"></ion-icon>
                        <ion-text [color]="(createKencanForm.controls['jam'].valid) ? 'dark' : 'danger'">
                          {{ createKencanForm.controls['jam'].value || 'Jam kencan belum diatur !'}}
                        </ion-text>
                      </ion-item>

                      <ion-item>
                        <ion-icon name="location-outline" slot="start"></ion-icon>
                        <ion-text [color]="(createKencanForm.controls['tempat'].valid) ? 'dark' : 'danger'">
                          {{ createKencanForm.controls['tempat'].value || 'Tempat kencan belum diatur !'}}
                        </ion-text>
                      </ion-item>

                      <ion-item class="biaya" lines="full">
                        <ion-icon name="card-outline" slot="start"></ion-icon>
                          <ion-label *ngIf="(createKencanForm.controls['biaya'].valid && createKencanForm.controls['biaya'].value)"
                            position="fixed"
                          >Rp.</ion-label>
                          <ion-text [color]="(createKencanForm.controls['biaya'].valid && createKencanForm.controls['biaya'].value) ? 'dark' : 'danger'">
                            {{ createKencanForm.controls['biaya'].value || 'Biaya kencan belum diatur !'}}
                          </ion-text>
                      </ion-item>

                      <ion-item>
                        <ion-label position="floating">Status Kencan</ion-label>
                        <ion-select #kencanStatusOption interface="popover"
                          [compareWith]="compareFn"
                          formControlName="status_kencan_id">
                          <ion-select-option [value]="0">Terjadwal</ion-select-option>
                          <ion-select-option [value]="1">Berlangsung</ion-select-option>
                          <ion-select-option [value]="2">Terlaksana</ion-select-option>
                          <ion-select-option [value]="3">Batal</ion-select-option>
                          <ion-select-option [value]="4">Menjadwalkan Ulang</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-col>
                </ion-row>
              </ion-grid>


              <button mat-button matStepperPrevious>Back</button>
              <button mat-flat-button color="primary"
                (click)="createKencan()"
                [disabled]="!createKencanForm.valid">Simpan</button>
            </ng-template>


          </mat-step>


      </mat-stepper>

    </form>



  </section>
</ion-content>
