table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.loading-wrapper {
  min-width: 100%;
  min-height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}


ion-button.refresh-button {
  --color: var(--ion-color-light-shade);
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}
