
<h2 matDialogTitle>Filter

<button [matDialogClose]="undefined" mat-icon-button class="close-button">
  <mat-icon>close</mat-icon>
</button>
</h2>

<section matDialogContent class="MatTypography container">
  <ion-grid fixed="true">

    <ion-row>
      <ion-col>
        <section [formGroup]="kencanFilterForm">
          <h4 class="ion-no-margin">Opsi Searching</h4>
          <p><mat-checkbox formControlName="search_tanggal">Tanggal</mat-checkbox></p>
          <p><mat-checkbox formControlName="search_nama">Nama</mat-checkbox></p>
          <p><mat-checkbox formControlName="search_tempat">Tempat</mat-checkbox></p>
        </section>
      </ion-col>
    </ion-row>

    <ion-row>
      <mat-form-field appearance="fill">
        <mat-label>Filter tanggal kencan</mat-label>
        <mat-date-range-input [formGroup]="(kencanFilterForm)" [rangePicker]="picker">

          <input matStartDate formControlName="from_tanggal" placeholder="Dari tanggal">
          <input matEndDate formControlName="to_tanggal" placeholder="Sampai tanggal">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY hingga MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

        <mat-error *ngIf="kencanFilterForm?.controls.from_tanggal.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="kencanFilterForm?.controls.to_tanggal.hasError('matEndDateInvalid')">Invalid end date</mat-error>

        <mat-date-range-picker #picker color="accent">
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Batal</button>
            <button mat-raised-button color="accent" matDateRangePickerApply>Simpan</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
    </ion-row>

    <ion-row>
      <ion-col matDialogActions class="ion-justify-content-end d-flex">

        <button mat-button
          [matDialogClose]="undefined">Batal</button>
        <button mat-button [disabled]="!kencanFilterForm.valid"
          [matDialogClose]="simpanFilterKencan()" color="accent">Simpan</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</section>
