<h2 mat-dialog-title>Pasangan Add Form</h2>
<ion-content mat-dialog-content
  class="md-dialog-container ion-padding" scrollY="True">
  <div class="form-container">
    <ion-avatar class="mat-elevation-z8 profile-img"
>
      <ion-img [src]="pasanganFormDetail.controls['avatar'].value"></ion-img>
    </ion-avatar>
    <br>

    <section 
      class="mat-typography ion-text-center
      ion-text-capitalize sub-info">
      <h1>Pasangan Baru</h1>
    </section>

    <form [formGroup]="pasanganFormDetail" novalidate>
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input formControlName="first_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input formControlName="last_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Special Name</ion-label>
        <ion-input formControlName="special_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Avatar URL</ion-label>
        <ion-input formControlName="avatar"></ion-input>
      </ion-item>
      <br>

      <mat-form-field appearance="fill"
        class="full-width">
        <mat-label>Status Pasangan</mat-label>
        <mat-select formControlName="status_pasangan_id">
          <mat-option value="1">Pacar</mat-option>
          <mat-option value="0">Mantan</mat-option>
          <mat-option value="2">Selingkuhan</mat-option>
        </mat-select>
      </mat-form-field>

      
      <ion-row>
        <ion-col>
          <ion-button (click)="tambahDataPasangan()"
            expand="block" color="success" 
            [disabled]="!pasanganFormDetail.valid">
            Tambah
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>
