
.full-width {
  width: 100%;
}

.md-dialog-containser {
  width: 80vw;
  height: 90vh;
}

.profile-img {
  width: 150px;
  height: 150px;
  margin-inline: auto;
}

.sub-info {
  h3 {
    margin: .1em;
  }
}


.form-containser {
}
