$small: 400px;
$medium: 680px;
$large: 1080px;

ion-grid {
  //--ion-grid-padding: 8em; 
  --ion-grid-padding-horizontal: 8em;
  --ion-grid-width: 80%;
}

ion-content {
  @media screen and (max-width: $large){
    --padding-start: 16px;
    --padding-end: 16px;
  }

  --padding-start: 250px;
  --padding-end: 250px;    
}



ion-card {
  ion-img {
    max-height: 20%;
  }
  @media screen and (max-width: $medium) {
    max-width: 280px;
    min-width: auto;
  }

  @media screen and (max-width: $small) {
    max-width: auto;
    min-width: 280px;
  }

  min-width: 280px;
}
