
<ion-content class="ion-padding">
  <h1>Berita</h1>
 
  <section>
    <ion-grid fixed="true">
      <ion-row *ngFor="let berita of [1,2,3,4,5,6,7,8,9,10]">
        <ion-col>
          <ion-card>
            <ion-img src="https://source.unsplash.com/random/480x180/?girl"></ion-img>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-img src="https://source.unsplash.com/random/480X180/?girlfriends"></ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>



</ion-content>
