
<ion-content class="ion-padding"
  scroll-y="true">

  <h1>Berita</h1> 
  <section>
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <ng-container *ngIf="(loading$ | async); else cardBerita" >
          <ion-col *ngFor="let i of [1,2]" >
            <ion-card >
              <ion-skeleton-text style="height: 200px;" animated></ion-skeleton-text>
              <ion-card-header>
                <ion-skeleton-text style="height: 24px; width: 200px;" animated></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text>
              </ion-card-header>
              <ion-card-content >
                <ion-skeleton-text style="width: 300px;" animated></ion-skeleton-text>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ng-container>



        <ng-template #cardBerita>
          <ion-col class="ion-justify-content-center"
            *ngFor="let berita of (berita$ | async)">

            <app-news-card [dataBerita]="berita"></app-news-card>

          </ion-col>
        </ng-template>
      </ion-row>
    </ion-grid>
  </section>
  <ion-infinite-scroll threshold="100px"
    (ionInfinite)="loadBerita($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading berita...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>



</ion-content>
