
<ion-content>
<mat-tab-group animationDuration="1000ms" 
  mat-stretch-tabs color="accent">
  <mat-tab label="Mantan">
    <section class="ion-padding tab-content-margin">
      <app-mantan></app-mantan>
    </section>
  </mat-tab>
  <mat-tab label="Pacar">
    <section class="ion-padding tab-content-margin">
      <app-pacar></app-pacar>
    </section>
  </mat-tab>
  <mat-tab label="Selingkuhan">
    <section class="ion-padding tab-content-margin">
      <app-selingkuhan></app-selingkuhan>
    </section>
  </mat-tab>
</mat-tab-group>

</ion-content>
